<strong>Olá, {{ deliverymanName }}</strong>
<p>Você tem uma nova entrega disponivel</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatario: </strong> {{ recipientName }} <br />
  <strong>Rua: </strong> {{ recipientStreet }} <br />
  <strong>Numero: </strong> {{ recipientNumber }} <br />
  <strong>Estado: </strong> {{ recipientState }} <br />
  <strong>Cidade: </strong> {{ recipientCity }} <br />
  <strong>Postcode: </strong> {{ recipientPostal_code }} <br />
</p>
